#mainSignIn{
    display: flex;
    width: 40vw;
    align-items: center;
    margin: auto;
    padding: 40px;
   
    justify-content: space-between;
    border: 2px solid silver;
   
}
#topS{
    padding-top: 80px;
   text-align: center;
  
}
#topS h1{
    font-size: 2rem;
}
#mainSignIn .signInDiv form{
    display: flex;
    flex-direction: column;
    
}
.signInDiv input{
    min-width: 100px;
    max-width: 20vw;
    margin-top: 10px;
}

.posterDiv{
    width: 40vw;
 
}
.posterDiv div>img{
    width: 100%;
}


@media only screen and (max-width: 1000px) {
   
}

@media only screen and (max-width: 500px) {
    .posterDiv{
        display: none;
    }
}