* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'monaco';
    
}
.indexPage h1{
    font: bold;
    font-family: 'Courier New', Courier, monospace;
    margin: 30px;
}
body{
    /* background-color: #000000; */
    /* color: white; */
    overflow-x: hidden;
}
header img {
    width: 100%;
    border-radius: 10px;
   
}
header {
    height: 60px;
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: space-around;
    /* padding: 0 50px; */
    background: yellow;
    /* padding: 40px; */
    z-index: 100;
    border: 1px solid silver;
   width: 100vw;
    padding-right: 10px;
    padding-top: 2px;
}
header .header-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}
header .header-left .logo {
    width: 120px;
    padding-top: 10px;
}
header .header-left nav {
    /* margin-left: 150px; */
    width: 70vw;
    display: flex;
    
}
header .header-left nav ul {
    display: flex;
    justify-content: space-between;
    width: 80vw;
}
nav ul li a {
    display: block;
    /* color: #cfd9e0; */
    color: #000000;
    font-size: 1.2em;
    padding-right: 10px;
    transition: 0.2s;
}
nav ul li a:hover,
nav ul li a.active {
    color: rgb(120, 120, 120);
}

header .header-right {
    display: flex;
    align-items: center;
    width: 60%;
}

header .header-right .hamburger {
    margin-left: 20px;
    cursor: pointer;
    display: none;
}
header .header-right .hamburger div {
    width: 30px;
    height: 2px;
    margin: 6px 0;
    background: #fff;
}
#upNav{
    background-color: yellow;
    display: flex;
    justify-content: space-between;
    
}
#upNav> button{
    color: #fff;
    background-color: red;
    padding: 5px;
    border: 0px;
    border-radius: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px;
}
#user{
    display: flex;
    min-width: 80px;
    justify-content: space-between;
    align-items: center;
}
#user p{
    font-size: 0.8em;
    margin-left: 10px;
}

.header-left{
    display: flex;
   justify-content: center;
}
/* header end */


#mid {
    text-align: center;
}
#videoTag{
    padding-top: 60px; ;
}
#mid h2{
    font-size:  2.5em;
    text-decoration: underline;
    margin: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.bookNow{
    background-color: red;
    padding: 5px;
    border: 0px;
    color: #fff;
    border-radius: 5px;
    margin: 10px 0 10px 0;
}
.offerSec{
    width: 80vw;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    gap: 10px;
   
}
.offerSec>div{
    border: 1px solid silver;
    padding-bottom: 5px;
}
.offerSec>div>div{
    overflow: hidden;
}
.offerSec button{
    display: block;
    margin: auto;
    background-color: #1476b2;
    color: #fff;
    padding: 5px;
    border: 0px;
    border-radius: 2px;
}

.offerSec>div>div>img{
    width: 100%;
    transition: transform 0.3s ease;
}
.offerSec>div:hover img{
   
    transform: scale(1.1);
}
.exploreAdv{
    text-align: justify;
    width: 90vw;
    margin: auto;
    margin-top:50px ;
    display: grid;
    grid-template-columns: repeat(3,35vw);
    overflow-x: scroll;
    gap: 30px;
}
.exploreAdv::-webkit-scrollbar{
    width: 0;
}
.exploreAdv>div{
    border: 1px solid silver;
    padding: 10px;
}
.exploreAdv>div>img{
    width: 100%;
}
.exploreAdv h3{
    text-align: center;
}
.exploreAdv button{
    display: block;
    margin: auto;
    background-color: #1476b2;
    color: #fff;
    padding: 5px;
    border: 0px;
    border-radius: 2px;
}
.imageBanner{
    margin-top: 50px;
    width: 100vw;
}
.imageBanner img{
width: 100%;
}
/* footer start */
.parentFoot{
    margin-top: 5px;
    /* padding: 50px; */
    background-color: rgb(37, 34, 37);
    opacity: 98%;
    }
    .parentFoot p{
    color: gold;
    }
    .childFoot{
    display: flex;
    justify-content: center;
    }
    .childFoot>div{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
    text-align: justify;
    margin: 5px;
    }
    .childFoot>div a{
    color: white;
    margin: 5px;
    }
    .childFoot>div>div{
    color: white;
    margin: 5px;
    }
    .parentFoot{
        width: 100vw;
    }
    .navbarBrand{
    /* padding: 10px; */
    width:15vw;
    margin: auto;
    }
    .navbarBrand>img{
    width:100%;
    }
    .parentFoot button{
    background-color: rgb(253, 124, 124);
    border: 0;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    }
    .parentFoot>div:nth-child(2) input{
    border: 0px;
    background-color: rgb(250, 250, 224);
    margin: 2px;
    padding: 2px;
    border-radius: 5px;
    }
@media only screen and (max-width: 1000px) {
    header {
        padding: 0 20px;
    }
    header .header-right .hamburger {
        display: block;
    }
    header .header-left nav {
        margin: 0;
        position: absolute;
        top: -300%;
        left: 0;
        width: 100%;
        height: fit-content;
        background-color:yellow;
        padding: 30px;
        transition: 0.3s;
        text-align: center;
        z-index: -1;
    }
    header .header-left nav.active {
        top: 50px;
    }
    header .header-left nav ul {
        display: block;
    }
    #upNav{
        padding-left: 10%;
    }
}

@media only screen and (max-width: 500px) {
    nav .login-signup {
        display: block;
        margin-top: 20px;
    }
    header .header-right .login-signup {
        display: none;
    }
    header .header-left .logo {
        width: 100px;
    }
   
    .parentFoot div{
        justify-content: center;
        margin: auto;
      }
      .parentFoot{
        padding: 0;
      }
      .childFoot{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
     
      .childFoot>div:nth-child(3){

        display: flex;
        flex-wrap: wrap;
        width: 80vw;   
        }
      
        .childFoot>div:nth-child(3) input{
            width: 50vw;
            }
    
}